<div class="chat">
  <div class="upper-message">
    <div class="message-data">
      <%= message.user.name %>
      <span class="message-date">
        <%= l message.created_at %>
      </span>
    </div>
  </div>
  <div class="lower-message">
    <div class="message">
      <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
    </div>
    <%= message.content %>
  </div>
</div>
