<div class="chat">
  <div class="upper-message">
    <div class="message-data">
      <%= message.user.name %>
      <span class="message-date">
        <%= message.created_at %>
      </span>
    </div>
  </div>
  <div class="lower-message">
    <div class="message">
      <%= message.content %>
    </div>
  </div>
</div>
