<div class="side-upper">
  <div class="user-name">
    <%= link_to current_user.name, "/users/#{current_user.id}/edit" %>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-main">
  <div class="room">
    <div class="room-name">
      <a href="#">櫻坂46</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">日向坂46</a>
    </div>
  </div>  
</div>